body {
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: #FFFFFF;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#miami-font {
    font-family: 'Miama', sans-serif;
}

.brand-name {
    color: #E6533C;
    font-size: 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 2em 10em 3em 10em;
}

.nav-container>h2 {
    margin: 0;
}

.nav-menu {
    text-decoration: none;
    color: beige;
    margin-top: 1em;
}

.menu-container>a {
    text-decoration: none;
    color: beige;
    padding: 2em 1em;
}

.menu-item {
    list-style: none;
}

.menu-item>button {
    background-color: #E6533C;
    color: #FFFFFF;
    width: 6em;
    height: 2em;
    border-radius: 2em;
    border: none;
}

.hamburg-icon {
    display: none;
}

.banner {
    padding: 0 10em;
    display: flex;
    margin: 0;
    /* justify-content: space-between; */
}

.banner-picture {
    margin: 2em;
}

.banner-description {
    width: 40%;
}

.banner-heading {
    font-size: 400%;
}

.banner-button-1 {
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 10em;
    border: none;
    padding: .5em 2em;
}

.banner-button-2 {
    background-color: rgb(53, 52, 52);
    color: #FFFFFF;
    border: .01em solid #FFFFFF;
    border-radius: 10em;
    padding: .4em 2em;
}

.banner-picture {
    margin-left: 25em;
    margin-top: 0;
    background-image: url('images/banner-Img.png');
    height: 38em;
    width: 50%;
    background-repeat: no-repeat;
}

.picture-div-1 {
    height: 4em;
    width: 9.5em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.5em);
    padding-top: 0.8em;
    padding-left: 1em;
    border-radius: 0.5em;
    position: relative;
    top: 23%;
    right: -50%;
    /* padding-left: 1em; */
}

.picture-div-2 {
    height: 4em;
    width: 10em;
    display: flex;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.5em);
    padding-top: 1em;
    padding-left: .8em;
    border-radius: 0.5em;
    position: relative;
    top: 60%;
    left: -20%;
}

.red-div {
    height: 2em;
    width: 2em;
    background-color: #E6533C;
    border-radius: 50%;
    margin-top: 0.6em;

}

.picture-div-1>h2 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;

}

.picture-div-1>p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    opacity: .5;
}

.div-2>h2 {
    margin: 0px;
    padding: 0;
    font-size: 30px;
}

.div-2>p {
    margin: 0px;
    padding: 0;
    font-size: 12px;
    opacity: .5;
}

.habit-description{
    width: 35em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5em;
  }
  .habit-description>p{
    opacity: .5;
    margin-top: 0;
  }
  .habit-container{
    padding: 0 10em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content:space-between;
  }
  .habits{
    /* width: 30em; */
    text-align: center;
    padding-bottom: 2em;
  }
  .habits>h4{
    margin-top: 2em;
  }
  .habits>p{
    margin: 0;
    opacity: .5;
    font-size: small;
  }
  .habit-img{
    border-radius: 50%;
  }
  .run-extra-section{
    width: 70em;
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.5em);
    border-radius: 1em;
    padding: 1.5em;
  }
  .run-description{
    width: 40%;
  }
  .run-description>p{
    opacity: .5;
  }
  .run-img>img{
    width: 25em;
    height: 22em;
    margin-top: .5em;
    border-radius: .5em;
    object-fit: none;
    object-position: 66% 33%;
  }
.team-description{
    text-align: center;
}
.team-description>h2{
    font-size: 50px;
}
.team-description>p{
    opacity: .5;
}
#member-1{
    background-image: url('images/trainer1.png');
}
#member-2{
    background-image: url('images/trainer2.png');
}
#member-3{
    background-image: url('images/trainer3.png');
}
#member-4{
    background-image: url('images/trainer4.png');
}
#member-5{
    background-image: url('images/trainer5.png');
}
#member-6{
    background-image: url('images/trainer6.png');
}
/* .team-container{
    padding: 6em;
} */
.team-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.5em);
    border-radius: 1em;
    padding: 1.5em;
    margin: 0 10.5em;
}

.team-info>h2{
    font-size: 50px;
}
.team-member{
    width: 22em;
    height: 16em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    padding: 0;
    justify-self: center;
    align-self: center;
    
}

.member-info{
    position: relative;
    top: 72%;
    left: 8%;
    font-size: 1.2em;
    width: 70%;
}

.member-info>h4{
    margin: 0;
    padding: 0;
}
.member-info>p{
    opacity:.5;
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.5em);
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5em;
    gap: 6em;
    padding: 3em 10em;
}
.footer-section>h2{
    margin: 0;
}

@media screen and (max-width: 576px) {
    .nav-container {
        padding: 2em;
    }

    .menu-container {
        display: none;
    }

    .nav-menu {
        margin: 0;
    }

    .hamburg-icon {
        height: 3em;
        display: block;
    }

    .banner {
        text-align: center;
        /* margin-top: 2em; */
        padding: 2em;
        display: flex;
        flex-direction: column;
        /* margin: 1em; */
    }

    .banner-picture {
        /* text-align: center; */
        margin: 0;
        width: 90%;


    }

    .banner-description {
        width: 100%;
        margin-bottom: 5em;
    }

    .picture-div-1 {
        top: 10%;
        right: -60%;
        text-align: left;
    }

    .picture-div-2 {
        top: 30%;
        left: 3%;
    }
    .habit-description{
        width: 80%;
    }
    .habit-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3em;
        margin: 0;
        padding: 0;
    }
    .run-extra-section{
        width: 80%;
        /* margin: 2em; */
        /* padding: 2em; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .run-description{
        width:100%;
        padding-top: 0;
      }
      .run-button{
        width: 100%;
        padding: 1.2em;
        margin-top: 0.5em;
      }
      .run-img>img{
        width: 22em;
        height: 15em;
        margin-top: 1.5em;
        border-radius: .5em;
        object-fit: none;
        object-position: 66% 28%;
      }
      .team-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(.5em);
        border-radius: 1em;
        padding: 2em;
        margin: 2em;
      }
      .team-member{
        width: 18em;
        height: 16em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1em;
        padding: 0;
        justify-self: center;
        align-self: center;
        
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
        padding: 2em;
        margin: 0;
    }
}